@page
@model OurCarZ.Pages.RoutesModel
@{
}
@foreach (var route in Model.routes)
{
    <h1>test</h1>
    <div class="card mb-3" style="width: 70%; margin: auto;">
        <div class="card-header p-2">
            <h5 class="card-title"><small class="text-muted">(@route.RouteId) </small>@route.StartPoint til @route.FinishPoint</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Kører:</p>
            <p class="card-text">Tidspunkt:</p>
            <p class="card-text">Antal Pladser:</p>
        </div>
        <div class="card-footer">
            <a class="btn" type="button" asp-page="Route" asp-route-id="@route.RouteId"><i class="fa fa-map"></i></a>
        </div>
    </div>
}