@page
@model OurCarZ.Pages.Rating.RatingPageModel
@{
}

@section Styles {
    <link href="@Url.Content("~/css/starrating.css")" rel="stylesheet" type="text/css"/>
}

@if (Model.CurrentUser != null)
{
    <body>
    <h3 text align="center">Remember to go to you fellow users profiles and rate them, you can find those you have driven with in your Past Routes</h3>
    </body>
}
else
{
    <p>Sorry, but you can't rate a person without being logged in.</p>
}