<!DOCTYPE html>
<html lang="en" class="theme-light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OurCarZ</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/95875560d8.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 color-prim">
            <div class="container color-prim">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><h2>OurCarZ</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link font-primary" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-primary" asp-area="" asp-page="/Routes">Routes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-primary" asp-area="" asp-page="/Route">Route</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-primary" asp-area="" asp-page="/UserPages/RegisterPage">Sign up</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link font-primary" asp-area="" asp-page="/Profile" asp-route-id="6">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-primary" asp-area="" asp-page="/EditProfile" asp-route-id="6">Edit Profile</a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link font-primary" asp-area="" asp-page="/Your Profile" asp-route-id="6">Your Profile</a>
                        </li>
                        <label id="switch" class="switch">
                            <input type="checkbox" onchange="toggleTheme()" id="slider">
                            <span class="slider round"></span>
                        </label>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="loadingWrapper"><img src="~/Pictures/Logo.png" alt="logo" style="width:20vw;"></div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer box-shadow text-muted">
        <div class="container">
            <p>&copy; 2021 - OurCarZ - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>

        let wrapper = document.querySelector('.loadingWrapper');

        window.addEventListener('load', function () {
            wrapper.animate([

                { opacity: '1' },
                { opacity: '0' }

            ], {
                    duration: 300,
                    iterations: 1
            });
            this.setTimeout(function () {
                wrapper.parentElement.removeChild(wrapper);
            }, 300);
        });

        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = themeName;
        }
        // function to toggle between light and dark theme
        function toggleTheme() {
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-light');
            } else {
                setTheme('theme-dark');
            }
        }
        // Immediately invoked function to set the theme on initial load
        (function () {
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-dark');
            } else {
                setTheme('theme-light');
            }
        })();
    </script>
</body>
</html>
